@card-width: 99px;
@card-height: 154px;
@card-gap: 20px;
@g-padding: 20px;

.foundation {
	top: 10px;
	width: (@card-width + @card-gap) * 4 + @card-gap;
	right: @g-padding;
	height: @card-height;
	position: absolute;
}

.tableau {
	width: (@card-width + @card-gap) * 7;
	top: @card-height + @card-gap * 2;
	right: @g-padding;
	height: 350px;
	position: absolute;

	&.freecell {
		right: 140px;
	}

	&.spider {
		right: 378px;
	}
}

.stock {
	width: @card-width;
	position: absolute;
	height: @card-height;
	top: @g-padding;
	left: @g-padding * 2 + 8;
}

.waste {
	width: @card-width + 3 * @card-gap;
	position: absolute;
	height: @card-height;
	top: @g-padding;
	left: @card-width + 2 * @card-gap;
}

.card {
	width: @card-width;
	height: @card-height;
	position: absolute;
	background-repeat: none;
	background-position: left top;
	background-size: 100%;
	cursor: pointer;
}

.card-group {
	position: absolute;
}

.placeholder {
	width: @card-width;
	height: @card-height;
	position: absolute;
	//border: 1px solid white;
	background-repeat: none;
	background-position: left top;
	background-size: 100%;
	border-radius: 4px;
	z-index: 0;
	&.empty {
		background-image: url('/img/base_redeal.png');
	}
	&.foundation {
		background-image: url('/img/base_foundation.png');
	}
	&.tableau {
		margin: -21px;
		top: 20px;
		border: 1px solid white;
	}
	&.freecell {
		margin-top: 20px;
		background-image: url('/img/base.png');
	}

	&.spider {

	}
}